<link rel="stylesheet" href="./pessoa.component.css">

<mat-toolbar-row class="toolbar negrito titulo-pessoas"> Pessoas Cadastradas </mat-toolbar-row>
<!-- <div class="demo-button-container">
 <button mat-raised-button (click)="addData()" class="demo-button">
    Add data
  </button>-->
 <!-- <button
      mat-raised-button
      [disabled]="!dataSource.length"
      (click)="removeData()"
      class="demo-button">
    Remove data
  </button>
</div>-->

<table mat-table [dataSource]="pessoa" class="mat-elevation-z8 demo-table">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let pessoa">{{pessoa.id}}</td>
  </ng-container>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let pessoa">{{pessoa.nome}}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let pessoa">{{pessoa.status}}</td>
  </ng-container>

  <ng-container matColumnDef="telefone">
    <th mat-header-cell *matHeaderCellDef>Telefone</th>
    <td mat-cell *matCellDef="let pessoa">{{pessoa.telefone}}</td>
  </ng-container>

  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef>Data</th>
    <td mat-cell *matCellDef="let pessoa">{{pessoa.dataDeNascimento}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
